<div class="administration-bar">
    <div class="card">
        <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div style="height: 40px; display: flex; align-items: center; border-bottom: none; margin-top: -7px;">
                <h5 class="d-flex align-items-center p-t-15"><i
                        class="tabler--email-template filter-black"></i>&nbsp;
                    Email Template</h5>
            </div>
        </div>
    </div>

    <div class="card mb-4 b-t-0">
        <div class="card-body">
            <div class="card-table">
                <div class="email-settings-main">
                    <div class="row align-items-center">
                        <div class="col-lg-6">
                            <div class="form-mas">
                                <p>Description</p>
                                <div class="form-mas-input"><input type="text" name="" value="" placeholder="Enter Description" /></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-mas">
                                <p>Screen Name</p>
                                <div class="form-mas-input">
                                    <select>
                                        <option>Select Screen Name</option>
                                        <option>Screen Name 1</option>
                                    </select>    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-mas">
                                <p>To MailID</p>
                                <div class="form-mas-input"><input type="text" name="" value="" placeholder="Enter your To MailID" /></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-mas">
                                <p>CC</p>
                                <div class="form-mas-input"><input type="text" name="" value="" placeholder="Enter your CC To MailID" /></div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-mas">
                                <p>Screen Name</p>
                                <div class="form-mas-input">
                                    <select>
                                        <option>Select Screen Name</option>
                                        <option>Screen Name 1</option>
                                    </select>    
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-mas">
                                <p>Port</p>
                                <div class="form-mas-input"><input type="text" name="" value="" placeholder="25" /></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-mas">
                                <p>SMTP</p>
                                <div class="form-mas-input"><input type="text" name="" value="" placeholder="smtp@collabrium.com" /></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-mas">
                                <p>Username</p>
                                <div class="form-mas-input"><input type="text" name="" value="" placeholder="noreply@collabrium.com" /></div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-mas">
                                <p>Password</p>
                                <div class="form-mas-input"><input type="password" name="password" value="" placeholder="**********" /></div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-mas d-flex">                  
                                <div class="form-mas-input text-left d-flex align-items-center">
                                    <input type="checkbox" name="" /> &nbsp; Active
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-right p-t-15 p-b-10 p-10 w-100">
                    <button class="btn-success">Submit</button>&nbsp;&nbsp;
                    <button class="btn-warning">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>