<div class="breadcrumb-main">
    <div class="bg-light-primary rounded   overflow-hidden ng-star-inserted bb-box">
        <div class="row">
            <div class="col-sm-8">
                <div class="d-flex align-items-center overflow-hidden">
                    <ul class="breadcrumb align-items-center">
                        <li tabindex="0" class="breadcrumb-item ng-star-inserted">
                            <a href="../../asn/documentupload/">Go to Document Upload</a>
                        </li>
                        <li class="breadcrumb-item active f-s-14 ng-star-inserted">Edit Document</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 text-right position-relative">
                <div class="breadcrumb-icon">
                    <img src="/assets/img/breadcrumb/ChatBc.png" alt="breadcrumb" width="165">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-6">
                    <div class="bg-light-primary d-inline-flex"><a href="../../asn/documentupload/"
                            class="d-flex text-black">
                            <span class="bxs--arrow-to-left white-filter2 edit-icon justify-content-center"></span>
                            Back</a>
                    </div>
                </div>
                <div class="col-sm-6 text-right d-inline-flex justify-content-end">
                    <div class="d-flex">
                        <div class="d-inline-flex justify-content-center align-items-center p-l-r-5"><div class="bg-light-primary">ID: ASN-01</div></div>
                        <div class="d-flex p-l-r-5"><button class="btn-success">Save</button></div>
                        <div class="d-flex p-l-r-5"><button class="btn-warning">Cancel</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="po-table">
        <div class="card">
            <div class="card-body">
                <div class="card-table">
                    <div class="  table-bar">
                        <table
                            class="mat-mdc-table mdc-data-table__table cdk-table w-100 table-main-all tmfull hundred-only">
                            <tbody>

                                <!-- <tr class="expand row-1"> -->
                                <tr class="row-1">
                                    <td class="mat-mdc-cell mdc-data-table__cell cdk-cell hov nes inner-td-bar">
                                        <div class="ng-star-inserted">
                                            <table
                                                class="mat-mdc-table mdc-data-table__table cdk-table hov inner ins-msd hundred-only">
                                                <thead>
                                                    <tr>
                                                        <td class="h1bar">ASN Edit Document</td>
                                                        <td class="h1bar"></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>ASN</th>
                                                        <td>ASN-01</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Purchase Order</th>
                                                        <td>PO-1</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Vendor Number/ Name</th>
                                                        <td>Vendor-01</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Document Name</th>
                                                        <td><input type="text" placeholder="Free Text 1"
                                                                class="input-ms"></td>
                                                    </tr>
                                                    <tr>
                                                        <th>Description</th>
                                                        <td><textarea type="text" placeholder="Free Text 1"
                                                                class="input-ms"></textarea></td>

                                                    </tr>
                                                    <tr>
                                                        <th>Upload Document</th>
                                                        <td><input type="file" placeholder="Browse" class="input-ms" />
                                                        </td>

                                                    </tr>
                                                    <tr>
                                                        <th>Generate QR Code</th>
                                                        <td><img src="../../../assets/img/qr-code.jpg"
                                                                class="img qr-img"> </td>

                                                    </tr>
                                                    <tr>
                                                        <th
                                                            class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                                            <button
                                                                class="btn-success">Save</button>&nbsp;&nbsp;&nbsp;<button
                                                                class="btn-warning">Cancel</button>
                                                        </th>
                                                        <td
                                                            class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">

                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

        </div>



    </div>

    
</div>


<div class="card mb-4">
    <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div style="height: 40px; display: flex; align-items: center;border-bottom: none;margin-top: -7px;">
            <div>View all Updated Document</div>
        </div>
    </div>

    <div class="po-table">
        <div class="card">
            <div class="card-body">
                <div class="card-table">
                    <div class="table-responsive table-bar">
                        <input id="toggle1" class="row-toggle" type="checkbox" />
                        <input id="toggle2" class="row-toggle" type="checkbox" />
                        <table
                            class="mat-mdc-table mdc-data-table__table cdk-table w-100 table-main-all tmfull hundred-only">
                            <thead>
                                <tr>

                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        Document Name</th>
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        Type</th>
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        Uploaded On</th>
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        QR Code</th>
                                    <th
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        Invoice-001
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        <span class="bg-light-warning">PDF</span>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        PO-1 </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <img src="../../../assets/img/qr-code.jpg" class="img qr-img2"><br>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <div class="d-flex">
                                            <div class="d-flex p-l-r-5">
                                                <!-- Hidden checkbox toggler -->
                                                <input type="checkbox" id="modal-toggle" hidden />

                                                <!-- The button (label for checkbox) -->
                                                <label for="modal-toggle" class="btn bg-light-success"><span
                                                        class="tabler--eye white-filter2 edit-icon"></span>
                                                    View</label>

                                                <!-- The modal -->
                                                <div class="modal">
                                                    <div class="modal__overlay"></div>
                                                    <div class="modal__card">
                                                        <div class="modal__header">
                                                            <h2 class="modal__title">1
                                                                Your QR Code</h2>
                                                            <!-- Close button (uncheck checkbox) -->
                                                            <label for="modal-toggle" class="modal__close">✕</label>
                                                        </div>
                                                        <hr>
                                                        <div class="modal__body">
                                                            <p>QR Code genaretd and sent
                                                                to the registered email
                                                                ID</p>
                                                            <div class="popup-qr">
                                                                <img src="../../../assets/img/qr-code.jpg"
                                                                    class="img qr-img2">
                                                            </div>
                                                            <div
                                                                class="text-right p-t-15 p-b-10 w-100 d-inline-flex justify-content-end">
                                                                <button class="btn-success d-flex"><span
                                                                        class="hugeicons--file-upload cloud-download white-filter down2 text-white"></span>Save</button>&nbsp;&nbsp;
                                                                <button class="btn-warning d-flex"><span
                                                                        class="mingcute--download-3-line cloud-download white-filter down2 text-white"></span>Download</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex p-l-r-5">
                                                <button class="bg-light-secondary d-flex border-0 b-r-3"><span
                                                        class="mingcute--download-3-line cloud-download white-filter2 down2"></span>
                                                    Download</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        Invoice-002
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        <span class="bg-light-warning">PDF</span>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        PO-1 </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <img src="../../../assets/img/qr-code.jpg" class="img qr-img2"><br>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <div class="d-flex">
                                            <div class="d-flex p-l-r-5">
                                                <!-- Hidden checkbox toggler -->
                                                <input type="checkbox" id="modal-toggle" hidden />

                                                <!-- The button (label for checkbox) -->
                                                <label for="modal-toggle" class="btn bg-light-success"><span
                                                        class="tabler--eye white-filter2 edit-icon"></span>
                                                    View</label>

                                                <!-- The modal -->
                                                <div class="modal">
                                                    <div class="modal__overlay"></div>
                                                    <div class="modal__card">
                                                        <div class="modal__header">
                                                            <h2 class="modal__title">1
                                                                Your QR Code</h2>
                                                            <!-- Close button (uncheck checkbox) -->
                                                            <label for="modal-toggle" class="modal__close">✕</label>
                                                        </div>
                                                        <hr>
                                                        <div class="modal__body">
                                                            <p>QR Code genaretd and sent
                                                                to the registered email
                                                                ID</p>
                                                            <div class="popup-qr">
                                                                <img src="../../../assets/img/qr-code.jpg"
                                                                    class="img qr-img2">
                                                            </div>
                                                            <div
                                                                class="text-right p-t-15 p-b-10 w-100 d-inline-flex justify-content-end">
                                                                <button class="btn-success d-flex"><span
                                                                        class="hugeicons--file-upload cloud-download white-filter down2 text-white"></span>Save</button>&nbsp;&nbsp;
                                                                <button class="btn-warning d-flex"><span
                                                                        class="mingcute--download-3-line cloud-download white-filter down2 text-white"></span>Download</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex p-l-r-5">
                                                <button class="bg-light-secondary d-flex border-0 b-r-3"><span
                                                        class="mingcute--download-3-line cloud-download white-filter2 down2"></span>
                                                    Download</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        Invoice-003
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        <span class="bg-light-warning">PDF</span>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        PO-1 </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <img src="../../../assets/img/qr-code.jpg" class="img qr-img2"><br>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <div class="d-flex">
                                            <div class="d-flex p-l-r-5">
                                                <!-- Hidden checkbox toggler -->
                                                <input type="checkbox" id="modal-toggle" hidden />

                                                <!-- The button (label for checkbox) -->
                                                <label for="modal-toggle" class="btn bg-light-success"><span
                                                        class="tabler--eye white-filter2 edit-icon"></span>
                                                    View</label>

                                                <!-- The modal -->
                                                <div class="modal">
                                                    <div class="modal__overlay"></div>
                                                    <div class="modal__card">
                                                        <div class="modal__header">
                                                            <h2 class="modal__title">1
                                                                Your QR Code</h2>
                                                            <!-- Close button (uncheck checkbox) -->
                                                            <label for="modal-toggle" class="modal__close">✕</label>
                                                        </div>
                                                        <hr>
                                                        <div class="modal__body">
                                                            <p>QR Code genaretd and sent
                                                                to the registered email
                                                                ID</p>
                                                            <div class="popup-qr">
                                                                <img src="../../../assets/img/qr-code.jpg"
                                                                    class="img qr-img2">
                                                            </div>
                                                            <div
                                                                class="text-right p-t-15 p-b-10 w-100 d-inline-flex justify-content-end">
                                                                <button class="btn-success d-flex"><span
                                                                        class="hugeicons--file-upload cloud-download white-filter down2 text-white"></span>Save</button>&nbsp;&nbsp;
                                                                <button class="btn-warning d-flex"><span
                                                                        class="mingcute--download-3-line cloud-download white-filter down2 text-white"></span>Download</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex p-l-r-5">
                                                <button class="bg-light-secondary d-flex border-0 b-r-3"><span
                                                        class="mingcute--download-3-line cloud-download white-filter2 down2"></span>
                                                    Download</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        Invoice-004
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        <span class="bg-light-warning">PDF</span>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        PO-1 </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <img src="../../../assets/img/qr-code.jpg" class="img qr-img2"><br>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <div class="d-flex">
                                            <div class="d-flex p-l-r-5">
                                                <!-- Hidden checkbox toggler -->
                                                <input type="checkbox" id="modal-toggle" hidden />

                                                <!-- The button (label for checkbox) -->
                                                <label for="modal-toggle" class="btn bg-light-success"><span
                                                        class="tabler--eye white-filter2 edit-icon"></span>
                                                    View</label>

                                                <!-- The modal -->
                                                <div class="modal">
                                                    <div class="modal__overlay"></div>
                                                    <div class="modal__card">
                                                        <div class="modal__header">
                                                            <h2 class="modal__title">1
                                                                Your QR Code</h2>
                                                            <!-- Close button (uncheck checkbox) -->
                                                            <label for="modal-toggle" class="modal__close">✕</label>
                                                        </div>
                                                        <hr>
                                                        <div class="modal__body">
                                                            <p>QR Code genaretd and sent
                                                                to the registered email
                                                                ID</p>
                                                            <div class="popup-qr">
                                                                <img src="../../../assets/img/qr-code.jpg"
                                                                    class="img qr-img2">
                                                            </div>
                                                            <div
                                                                class="text-right p-t-15 p-b-10 w-100 d-inline-flex justify-content-end">
                                                                <button class="btn-success d-flex"><span
                                                                        class="hugeicons--file-upload cloud-download white-filter down2 text-white"></span>Save</button>&nbsp;&nbsp;
                                                                <button class="btn-warning d-flex"><span
                                                                        class="mingcute--download-3-line cloud-download white-filter down2 text-white"></span>Download</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex p-l-r-5">
                                                <button class="bg-light-secondary d-flex border-0 b-r-3"><span
                                                        class="mingcute--download-3-line cloud-download white-filter2 down2"></span>
                                                    Download</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="">
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        Invoice-005
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted fix-ms">
                                        <span class="bg-light-warning">PDF</span>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        PO-1 </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <img src="../../../assets/img/qr-code.jpg" class="img qr-img2"><br>
                                    </td>
                                    <td
                                        class="mat-mdc-header-cell mdc-data-table__header-cell cdk-header-cell f-w-600 mat-subtitle-1 f-s-14 cdk-column-assigned mat-column-assigned ng-star-inserted">
                                        <div class="d-flex">
                                            <div class="d-flex p-l-r-5">
                                                <!-- Hidden checkbox toggler -->
                                                <input type="checkbox" id="modal-toggle" hidden />

                                                <!-- The button (label for checkbox) -->
                                                <label for="modal-toggle" class="btn bg-light-success"><span
                                                        class="tabler--eye white-filter2 edit-icon"></span>
                                                    View</label>

                                                <!-- The modal -->
                                                <div class="modal">
                                                    <div class="modal__overlay"></div>
                                                    <div class="modal__card">
                                                        <div class="modal__header">
                                                            <h2 class="modal__title">1
                                                                Your QR Code</h2>
                                                            <!-- Close button (uncheck checkbox) -->
                                                            <label for="modal-toggle" class="modal__close">✕</label>
                                                        </div>
                                                        <hr>
                                                        <div class="modal__body">
                                                            <p>QR Code genaretd and sent
                                                                to the registered email
                                                                ID</p>
                                                            <div class="popup-qr">
                                                                <img src="../../../assets/img/qr-code.jpg"
                                                                    class="img qr-img2">
                                                            </div>
                                                            <div
                                                                class="text-right p-t-15 p-b-10 w-100 d-inline-flex justify-content-end">
                                                                <button class="btn-success d-flex"><span
                                                                        class="hugeicons--file-upload cloud-download white-filter down2 text-white"></span>Save</button>&nbsp;&nbsp;
                                                                <button class="btn-warning d-flex"><span
                                                                        class="mingcute--download-3-line cloud-download white-filter down2 text-white"></span>Download</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex p-l-r-5">
                                                <button class="bg-light-secondary d-flex border-0 b-r-3"><span
                                                        class="mingcute--download-3-line cloud-download white-filter2 down2"></span>
                                                    Download</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>