<div class="breadcrumb-main">
    <div class="bg-light-primary rounded   overflow-hidden ng-star-inserted bb-box">
        <div class="row">
            <div class="col-sm-8">
                <div class="d-flex align-items-center overflow-hidden">
                    <ul class="breadcrumb align-items-center">
                        <li tabindex="0" class="breadcrumb-item ng-star-inserted">
                            <a href="../../asn/documentupload/">Go to Document Upload</a>
                        </li>
                        <li class="breadcrumb-item active f-s-14 ng-star-inserted">Edit Document</li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 text-right position-relative">
                <div class="breadcrumb-icon">
                    <img src="/assets/img/breadcrumb/ChatBc.png" alt="breadcrumb" width="165">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="w-100">
            <div class="row">
                <div class="col-sm-6">
                    <div class="bg-light-primary d-inline-flex"><a href="../../asn/documentupload/"
                            class="d-flex text-black">
                            <span class="bxs--arrow-to-left white-filter2 edit-icon justify-content-center"></span>
                            Back</a>
                    </div>
                </div>
                <div class="col-sm-6 text-right d-inline-flex justify-content-end">
                    <!-- <div class="d-flex">
                        <div class="d-inline-flex justify-content-center align-items-center p-l-r-5">
                            <div class="bg-light-primary">ID: ASN-01</div>
                        </div>
                        <div class="d-flex p-l-r-5"><button class="btn-success">Save</button></div>
                        <div class="d-flex p-l-r-5"><button class="btn-warning">Cancel</button></div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="po-table">
        <div class="card">
            <div class="card-body">
                <div class="card-table">
                    <div class="  table-bar">
                        <table
                            class="mat-mdc-table mdc-data-table__table cdk-table w-100 table-main-all tmfull hundred-only">
                            <tbody>

                                <!-- <tr class="expand row-1"> -->
                                <tr class="row-1">
                                    <td class="mat-mdc-cell mdc-data-table__cell cdk-cell hov nes inner-td-bar">
                                        <div class="ng-star-inserted">
                                            <table
                                                class="mat-mdc-table mdc-data-table__table cdk-table hov inner ins-msd hundred-only">
                                                <thead>
                                                    <tr>
                                                        <td class="h1bar">ASN Edit Document</td>
                                                        <td class="h1bar"></td>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>ASN</th>
                                                        <td>
                                                            <input style="width: 75%;" type="text" disabled
                                                                placeholder="Enter ASN"
                                                                [(ngModel)]="documentData.ASNNo" />

                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>Vendor Number/ Name</th>
                                                        <td>
                                                            <input style="width: 35%;" type="text" disabled
                                                                placeholder="Enter Vendor Name"
                                                                [(ngModel)]="documentData.CardCode" />

                                                        </td>
                                                        <td> <input style="width: 75%;" type="text" disabled
                                                                placeholder="Enter Vendor Name"
                                                                [(ngModel)]="documentData.CardName" /></td>
                                                    </tr>

                                                    <tr>
                                                        <th>Document Type</th>
                                                        <td>
                                                            <mat-form-field style="width: 75%;" appearance="outline">
                                                                <mat-select [(ngModel)]="documentData.documentType">
                                                                    <mat-option *ngFor="let option of options"
                                                                        [value]="option">
                                                                        {{ option }}
                                                                    </mat-option>
                                                                </mat-select>
                                                            </mat-form-field>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>Document Name</th>
                                                        <td>
                                                            <input style="width: 75%;" type="text"
                                                                placeholder="Enter Document Name" class="input-ms"
                                                                [(ngModel)]="documentData.documentName" />
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>Description</th>
                                                        <td>
                                                            <textarea placeholder="Enter Description" class="input-ms"
                                                                [(ngModel)]="documentData.description"></textarea>
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>Upload Document</th>
                                                        <td><input type="file" placeholder="Browse"
                                                                [(ngModel)]="documentData.attachment"
                                                                (change)="fileChangeEvent($event)" class="input-ms" />
                                                        </td>

                                                    </tr>
                                                    <!-- <tr>
                                                        <th>Generate QR Code</th>
                                                        <td><img src="../../../assets/img/qr-code.jpg"
                                                                class="img qr-img"> </td>

                                                    </tr> -->

                                                </tbody>
                                            </table>

                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>


                    </div>
                </div>

            </div>

        </div>



    </div>

    <div class="card mb-4">
        <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
            <div style="height: 40px; display: flex; align-items: center;border-bottom: none;margin-top: -7px;">
                <div>View all Updated Document</div>
            </div>
        </div>

        <div class="po-table">
            <div class="card">
                <div class="card-body">
                    <div class="card-table">
                        <div class="table-responsive table-bar">

                            <table mat-table [dataSource]="innerTableDataSource" matTableExporter matSort role="table"
                                style="width: 100%;"
                                class="mat-mdc-table mdc-data-table__table cdk-table w-100 table-main-all tmfull tmfull-ms">
                                <ng-container *ngFor="let colName of innerTableColumns" [matColumnDef]="colName">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ colName }}</th>
                                    <td mat-cell *matCellDef="let element">
                                        <span *ngIf="colName != 'Approved Status' && colName != 'Notapproved' && colName != 'QRCode'  ">{{
                                            element[colName]
                                            }}</span>
                                     
                                        <span
                                            *ngIf="colName != 'Approved Status' && colName != 'Notapproved' && colName != 'QRCode' && colName == 'Action'  ">

                                            <button class="bg-light-secondary  border-0 b-r-3"
                                                (click)="DownloadFile(element)"><span
                                                    class="mingcute--download-3-line cloud-download white-filter2 down2"></span>
                                                Download</button>&nbsp;
                                            <button class="bg-light-secondary border-0 b-r-3"
                                                (click)="DeleteFile(element)">
                                                <span class="mingcute--delete-line white-filter2 down2"></span>
                                                Delete
                                            </button>
                                        </span>
                                        <!-- Inside your table row -->
                                        <span *ngIf="colName != 'Approved Status' && colName != 'Notapproved' && colName != 'Action'
                                            && colName == 'QRCode' ">

                                            <img *ngIf="element[colName]" [src]="element[colName]" alt="QR Code"
                                                width="50" height="50" />

                                            <!-- Otherwise, show generate button -->
                                            <button *ngIf="!element[colName]" class="btn btn-success btn-sm"
                                                (click)="generateQR(element, colName)">
                                                Generate QR
                                            </button>
                                        </span>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="innerTableColumns; sticky: true"
                                    class="mat-header-row"></tr>
                                <tr mat-row *matRowDef="let row; columns: innerTableColumns" class="mat-row"></tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-right p-t-15 p-b-10 p-10 w-100">
        <button class="btn-success" (click)="onSave()"> Save </button>&nbsp;&nbsp;
        <button class="btn-warning">Cancel</button>
    </div>

</div>