<div class="card">
    <div class="card-header d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div style="height: 40px; display: flex; align-items: center; border-bottom: none; margin-top: -7px;">
            <h5 class="d-flex align-items-center p-t-15"><i
                    class="tabler--gate-entry filter-black"></i>&nbsp;
                Gate Entry</h5>
        </div>
    </div>
</div>
<div class="card mb-4 b-t-0">
    <div class="card-body">
        <div class="card-table text-center">
            <!-- <h3>Gate Entry</h3> -->
            <h5>Scan QR Code</h5>
            <div class="mb-4">
                <img src="../../../assets/img/qr-code.jpg" class="img qr-img"><br>
            </div>
            <div class="mb-4">
                <button class="btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-body">
        <div class="card-table">
            <div class="table-responsive height-auto overflow-hidden">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <table
                            class="mat-mdc-table mdc-data-table__table cdk-table w-100 table-main-all tmfull hundred-only">
                            <thead class="ng-star-inserted">
                                <tr class=" ">
                                    <th>ASN</th>
                                    <th>ASN-01</th>
                                </tr>
                            </thead>
                            <tbody class="mdc-data-table__content ng-star-inserted">
                                <tr role="row" class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted">
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <span ng-reflect-ng-class="[object Object]" class="ng-star-inserted">ASN
                                            Request</span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-PO-Line-Item mat-column-PO-Line-Item">
                                        <span ng-reflect-ng-class="[object Object]"
                                            class="bg-light-primary rounded f-w-600 f-s-12 ng-star-inserted">ASN-REQ-01
                                        </span>
                                    </td>
                                </tr>
                                <tr role="row" class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted">
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <span ng-reflect-ng-class="[object Object]" class="ng-star-inserted">Purchase
                                            Order</span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-PO-Line-Item mat-column-PO-Line-Item">
                                        <span ng-reflect-ng-class="[object Object]"
                                            class="bg-light-primary rounded f-w-600 f-s-12 ng-star-inserted">PO-01
                                        </span>
                                    </td>
                                </tr>
                                <tr role="row" class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted">
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <span ng-reflect-ng-class="[object Object]"
                                            class="ng-star-inserted">Vendor</span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-PO-Line-Item mat-column-PO-Line-Item">
                                        <span ng-reflect-ng-class="[object Object]"
                                            class="bg-light-primary rounded f-w-600 f-s-12 ng-star-inserted">VEN-01
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card mb-4">
    <div class="card-body">
        <div class="card-table">
            <div class="table-responsive height-auto overflow-hidden">
                <div class="row align-items-center">
                    <div class="col-lg-12">
                        <h5 class="p-b-10">Attachments</h5>
                        <table
                            class="mat-mdc-table mdc-data-table__table cdk-table w-100 table-main-all tmfull hundred-only">
                            <thead class="ng-star-inserted">
                                <tr class=" ">
                                    <th>S.No</th>
                                    <th>Document Name</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="mdc-data-table__content ng-star-inserted">
                                <tr role="row" class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted">
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <span ng-reflect-ng-class="[object Object]" class="ng-star-inserted">1</span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-PO-Line-Item mat-column-PO-Line-Item">
                                        <span ng-reflect-ng-class="[object Object]"
                                            class="bg-light-primary rounded f-w-600 f-s-12 ng-star-inserted">Invoice
                                        </span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <span ng-reflect-ng-class="[object Object]" class="ng-star-inserted">Description
                                            1</span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <div class="d-flex">
                                            <div class="d-flex align-items-center input-ms-main">
                                                <span
                                                    class="tabler--eye white-filter2 edit-icon input-ms-inn-icon"></span>
                                                <input type="button" value="View"
                                                    class="bg-light-blue border-0 b-r-3 px-3 py-1 input-ms-inn"
                                                    (click)="openPopup()" />
                                            </div>
                                            <!-- Popup Modal -->
                                            <div class="popup-backdrop" *ngIf="isPopupOpen">
                                                <div class="popup-box">
                                                    <h5>Document Preview</h5>
                                                    <p>This is your document preview content (you can load dynamic data
                                                        here).</p>
                                                    <button class="btn btn-danger mt-2"
                                                        (click)="closePopup()">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr role="row" class="mat-mdc-row mdc-data-table__row cdk-row ng-star-inserted">
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <span ng-reflect-ng-class="[object Object]" class="ng-star-inserted">2</span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-PO-Line-Item mat-column-PO-Line-Item">
                                        <span ng-reflect-ng-class="[object Object]"
                                            class="bg-light-primary rounded f-w-600 f-s-12 ng-star-inserted">Transport
                                        </span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <span ng-reflect-ng-class="[object Object]" class="ng-star-inserted">Description
                                            2</span>
                                    </td>
                                    <td
                                        class="mat-mdc-cell mdc-data-table__cell cdk-cell f-s-14 cdk-column-name mat-column-name ng-star-inserted cdk-column-Sl-No- mat-column-Sl-No-">
                                        <div class="d-flex">
                                            <div class="d-flex align-items-center input-ms-main">
                                                <span
                                                    class="tabler--eye white-filter2 edit-icon input-ms-inn-icon"></span>
                                                <input type="button" value="View"
                                                    class="bg-light-blue border-0 b-r-3 px-3 py-1 input-ms-inn"
                                                    (click)="openPopup()" />
                                            </div>
                                            <!-- Popup Modal -->
                                            <div class="popup-backdrop" *ngIf="isPopupOpen">
                                                <div class="popup-box">
                                                    <h5>Document Preview</h5>
                                                    <p>This is your document preview content (you can load dynamic data
                                                        here).</p>
                                                    <button class="btn btn-danger mt-2"
                                                        (click)="closePopup()">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="text-right p-t-15 p-b-10 p-10 w-100">
                <div class="d-flex align-items-center justify-content-end">
                    <div class="d-flex align-items-center">
                        <input type="button" value="Accept Gate" class="border-0 b-r-3 px-3 btn-success"
                            (click)="openPopup2()" />
                    </div>
                    <!-- Popup Modal -->
                    <div class="popup-backdrop" *ngIf="isPopupOpen2">
                        <div class="popup-box">
                            <h5>Draft GRN Number 1234 generated and saved</h5>
                            <p>Draft GRN message successfully sent to ERP system</p>
                            <button class="btn btn-danger mt-2" (click)="closePopup2()">Close</button>
                        </div>
                    </div>

                    &nbsp;&nbsp;
                    <div class="d-flex align-items-center">
                        <input type="button" value="Reject Gate" class="border-0 b-r-3 px-3 btn-warning"
                            (click)="openPopup3()" />
                    </div>
                    <!-- Popup Modal -->
                    <div class="popup-backdrop" *ngIf="isPopupOpen3">
                        <div class="popup-box">
                            <h5>Reason for Rejection:</h5>
                            <p>Your value is not allowed...</p>
                            <button class="btn btn-primary mt-2" (click)="closePopup3()">Ok</button>&nbsp;&nbsp;
                            <button class="btn btn-danger mt-2" (click)="closePopup3()">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>